@import url("../../../css/mform.css");

.exform_wrapper.request-open2 {
	max-width: 475px;
    font-size: 20px;
    color: #2c2c2c;
    background: transparent;
    border: none;
    padding: 0px;
    border-radius: 0;
    border: 0;
 
}
 
.exform_wrapper.request-open2 .exform_header {text-align: center;
    padding: 10px 0;
    margin: 0;
    color: #fff;
    background: #026EC8;
    text-transform: uppercase;
    font-family: 'Proxima Nova Condensed';
    font-weight: 700;}
.exform_wrapper.request-open2 .exform_header span{font-size:16px;}
.exform_wrapper.request-open2 .exform_addmsg {text-align:center; font-size:12px; margin:10px 0 0;}

.exform_wrapper.request-open2 input[type="text"]:focus, .exform_wrapper.request-open2 textarea:focus {background:#fff;}
.exform_wrapper.request-open2 .inpt_wrpr {    margin: 0;
    padding: 20px 0 0;}
.exform_wrapper.request-open2 input[type="text"], 
.exform_wrapper.request-open2 textarea {  font-size: 15px;
  border: 2px solid #E4E2E2;
  padding: 0px 7px;
  margin: 0;
  border-radius: 0;
  height: 50px;
  text-align: left;
 outline:none;
  margin: 5px 0;
  background: transparent;
  width: 100%;
}
.form-line {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 20px;
}
.form-line input {
    width: 65%;
}
.form-line label {
    width: 35%;
 text-align: left;
    padding-right: 10px;
}
.exform_wrapper.request-open2 input[type="text"]::-webkit-input-placeholder {color:#4B4B4B;}
.exform_wrapper.request-open2 input[type="text"]::-moz-placeholder          {color:#4B4B4B;}/* Firefox 19+ */
.exform_wrapper.request-open2 input[type="text"]:-moz-placeholder           {color:#4B4B4B;}/* Firefox 18- */
.exform_wrapper.request-open2 input[type="text"]:-ms-input-placeholder      {color:#4B4B4B;}
.exform_wrapper.request-open2 textarea{height:50px; resize:none; font-family: Arial;}

.exform_wrapper.request-open2 div.err {height:0; float:right; position:relative; left:0; top:11px;}

.exform_wrapper.request-open2 .mf_submit {text-align:center; margin-top:7px;}
.exform_wrapper.request-open2 .mf_submit .send_btn {
    background: transparent;
    cursor: pointer;
    color: #026EC8;
    padding: 5px 11px;
    border-radius: 0px;
    margin-bottom: 0px;
	margin-top: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid #026EC8;
    font-size: 14px;
    font-weight: 700;
	
    margin-left: -8px;

}
.exform_wrapper.request-open2 .mf_submit .send_btn:hover {
    background:  #026EC8;
     
    color: #fff;
 
}

.exform_wrapper.request-open2 .exf_captcha input[type="text"], .exform_wrapper.request-open2 .captcha_img {float:left;}
.exform_wrapper.request-open2 .exf_captcha input[type="text"] {width:130px;}
.exform_wrapper.request-open2 .captcha_img {width:160px; height:34px; margin:2px 0 0 4px;} 
#mf_captcha_request {width:160px; border:solid 1px #ccc;}
.exform_wrapper.request-open2 .exf_captcha a {display:block; width:32px; height:32px; float:right; margin:4px -10px 0 0; background:url(refresh.png);}

.exform_wrapper.request-open2.finmsg {width:400px; min-height:50px; padding:10px; position:absolute; left:50%; top:50%; margin:-60px 0 0 -200px;}
.exform_wrapper.request-open2.finmsg p{text-align:center;}

.close_btn_req {
	width: 20px!important;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url('/exform/imgs/exit.png') no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

.close_btn_req:focus { outline: none; }
.exform_addmsg a{
	font-size: 12px;
	color: #00584d;
}
.lab{
	font-size:13px;
}